{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">

<p id="last_face">{{last_face}}</p>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
        <div class="profile-head">

        </div>
    </div>
    <div class="col-md-2">
        <a class="scan" href="{% url 'details' %}"><input type="submit" class="profile-edit-btn" name="btnAddMore" value="Start Scanner"/></a>
    </div>
</div>
<hr>

</div>



<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {

            },
        });
    });
</script>

{% endblock content %}